/* Fuente de letra */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Colores de la página */
body {
  background-color: #f8f8f8;
}

h1 {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

/* Estilo de tarjeta */
fieldset {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 auto 30px;
  max-width: 500px;
  padding: 20px;
}

legend {
  background-color: #fff;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  width: auto;
}

label {
  color: #555;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="number"] {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

button[type="button"] {
  background-color: #ff5252;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

button[type="button"]:hover {
  background-color: #e00000;
}

/* Estilo del botón calcular */
form > button {
  background-color: #ff5252;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0 auto 50px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

form > button:hover {
  background-color: #e00000;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}